@page
@model OdeToFood.Pages.Restaurants.IndexModel
@{
}

<h1>Restaurants</h1>

<div class="row">
    <div class="col-6">
        <a asp-page="Edit" class="btn btn-primary">Register Restaurant</a>
    </div>
    <div class="col-6">
        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search restaurant"
                           asp-for="SearchTerm">
                    <div class="input-group-append">
                        <button class="btn btn-secondary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table">
    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.Cuisine</td>
            <td>
                <a asp-page="Detail" asp-route-id="@item.Id" class="btn btn-secondary mr-1">
                    <i class="fa fa-info-circle fw"></i>
                </a>
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-secondary mr-1">
                    <i class="fa fa-edit fw"></i>
                </a>
            </td>
        </tr>
    }
</table>